* {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}

#auth {
	margin: 75px 0 0 0;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1,
h3 {
	margin: 10px 0 0 0;
}

img {
	border-radius: 50px;
	width: 70px;
}

.inputs {
	font-weight: 600;
	padding: 25px;
	border-radius: 25px;
	margin: 10px 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 85vw;
}

.campo {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.button {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #587d38;
	color: white;
	font-size: 1rem;
	padding: 0.375rem 0.75rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	line-height: 1.5;
	text-decoration: none;
	width: 100%;
}

.lembrar {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px 0 0 0;
	font-size: 0.9rem;
}

.lembrar input {
	margin: 0 15px 0 0;
}

.opcoes {
	margin: 15px 0 0 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.opcoes div {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.opcoes div span a {
	color: black;
	text-decoration: none;
}

@media (max-width: 425px) {
	.opcoes div span a {
		font-size: 0.7rem;
	}
}

@media (min-width: 768px) {
	.inputs {
		max-width: 50vw;
	}
}

@media (min-width: 1024px) {
	.inputs {
		max-width: 40vw;
	}
}

@media (min-width: 1440px) {
	.inputs {
		max-width: 30vw;
	}
}

@media (min-width: 2560px) {
	.inputs {
		max-width: 20vw;
	}
}
