* {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}

#auth {
	margin: 75px 0 0 0;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1,
h3 {
	margin: 10px 0 0 0;
}

img {
	border-radius: 50%;
	width: 5%;
}

.inputs {
	font-weight: 600;
	padding: 25px;
	border-radius: 25px;
	margin: 10px 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 30%;
}

.campo {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.button {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #587d38;
	color: white;
	font-size: 1rem;
	padding: 0.375rem 0.75rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	line-height: 1.5;
	text-decoration: none;
	width: 100%;
}

.opcoes {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px 0 0 0;
	font-size: 0.9rem;
}

.box {
	width: 35%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
